rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participantContacts/{contactId} {
      allow create: if request.resource.data.country is string
        && request.resource.data.diseaseArea is string
        && request.resource.data.email is string
        && request.resource.data.address is string
        && request.resource.data.code is string
        && request.resource.data.telephone is string;

      allow read, update, delete: if request.auth != null && request.auth.token.email == 'info@africatrialus.com';
    }
  }
}
